.card-container {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    justify-content: space-around;
    padding: 20px;
    width: 100%;
    box-sizing: border-box;
  }
  
  .creator-card {
    background-color: #9e5a7c;
    border-radius: 12px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    flex-grow: 1;
    flex-basis: 45%; /* Allowing two cards per row */
    max-width: 45%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 20px 20px;
    transition: transform 0.2s;
    border-top-width: 20px;
  }
  
  .creator-card:hover {
    transform: translateY(-5px);
  }
  
  .creator-card h2 {
    margin: 0 0 8px;
    font-size: 2.5em;
    color: #f4eeee;
  }
  
  .creator-card a {
    color: #f4eeee;
    text-decoration: none;
    font-weight: bold;
  }
  
  .creator-card a:hover {
    text-decoration: underline;
  }
  
  .creator-card p {
    margin: 8px 20px;
    color: #f4eeee;
    font-size: 1.7em;
  }
  
  /* Image styling */
  .creator-card img {
    width: 400px; /* Set a fixed width */
    height: 400px; /* Set a fixed height */
    object-fit: cover; /* Ensures the image covers the area without distortion */
    border-radius: 10px; /* Adds rounded corners */
    margin-top: 10px;
  }

  
  .creator-card .edit-link {
    margin-top: auto;
    padding: 10px 20px;
    background-color: #f4eeee;
    color: white;
    border: none;
    border-radius: 4px;
    text-decoration: none;
    font-size: 1em;
  }
  
  .creator-card .edit-link:hover {
    text-decoration: underline;
  }
  
  /* Container for icon buttons */
  .icon-buttons-container {
    display: flex;
    gap: 30px; /* Space between icons */
    justify-content: center; /* Center the icons horizontally */
    margin-top: 10px;
    margin-bottom: 10px;
  }

  /* Icon button styling */
  .icon-button {
    font-size: 2.5em;
    color: #f4eeee;
    text-decoration: none;
    transition: color 0.2s;
  }

  .icon-button:hover {
    color: #f4eeee;
  }

